* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}


/* HEADER */

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 0;
    padding: 5px 0  0 10px;   
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
    border: none;
	margin-top: 16px;
}

.navbar-brand {
    padding: 13px 0;
    font-size: 18px;
}

.navbar-header {
	width: 100px;
	height: 25px;
}

.logo {
	position: relative;
    left: 130px;
    bottom: 35px;
}

.logo img {
	width: 100px;
	height: 25px;
}

.nav>li>a {
    padding: 10px 25px;
    font-size: 14px;
}

.navbar-right {
    padding-right: 30px;
    padding-top: 10px;
}

/* Section Registro */

.registro {
    background-image: url(../img/taxi.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: -1280px;    
    padding: 90px 0;
}

.cuadro-1 {
    background-color: #f7b617;
    height: 350px;
    color: white;
    padding: 40px 20px 50px 40px;
}

.cuadro-1 h1 {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 20px;
}

.cuadro-1 p {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 10px;
    font-weight: 200;
}

.cuadro-1 p img {
    width: 90px;
    margin: 15px;
}

.cuadro-1 h4 {
    font-size: 15px;    
}

.input-registro {
    display: inline-flex;
    padding-top: 10px;
}

.input-registro p {
    font-size: 16px;
    margin: 0px 15px;
}

.clase-input {
    width: 150px;
    margin: 0 35px;
    height: 30px;
    color: white;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.btn-conducir {
    background-color: white;
    color: #2b2b2b;
    font-weight: 600;
}

.btn-conducir:hover {
    background-color: #EBEBEB;
    color: #f7b617;
}

/* Section App */

.app {
    background-color: #f7b617;
    padding: 30px 200px 30px 0;
}

.estilo-app {
    border: 1px solid white;
    border-left: 0;
    color: white;
}

.contenedor-app {
    padding: 30px;
}

.contenedor-app img {
    width: 80%;
}

.contenedor-app {
    padding: 50px 15px 50px 50px;
}

.texto-app h2 {
    font-size: 32px;
    margin-bottom: 30px;
    line-height:20px;   
}

.texto-app p {
    font-size: 15px;
    line-height: 26px;  
    font-weight: 200;
    letter-spacing: 2px;    
}

.destino h2 {
    color: white;
    padding: 20px 0 0 0;
    font-size: 18px;
    font-weight: 200;
}

/* Section Conducir */

.conducir {
    background-image: url(../img/conduce.jpg);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.fondo-transparente {
    background-color: rgba(0,0,0, 0.5);
    height: 447px;
    padding: 150px 30px;
}

.fondo-transparente h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    line-height:20px;       
}

.fondo-transparente p {
    color: white;   
    font-size: 16px;
    font-weight: 200;       
}

.fondo-transparente button {
    background-color: #f7b617;
    color: white;   
    border: none;
}

/* Section Mapa */

.mapa {
    background-color: #F7B617;
    padding: 50px 0;
}

.texto-mapa {
    padding-top: 50px;
    color: white;
}

.texto-mapa h2 {
    font-size: 25px;
    line-height:20px;   
    padding-bottom: 30px;
}

.texto-mapa p {
    font-size: 14px;
    line-height:20px;   
    padding-bottom: 10px;
}

.entrada-mapa {
    margin: 15px 0;
}

.icono-input {
    margin: 0 20px 0 0;
    opacity: 0.8;
}

.entrada-mapa input{
    width: 250px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    outline: 0;
    padding: 5px;
    border-color: white;
}

.input-mapa::-webkit-input-placeholder { 
    color: white; 
    opacity: 0.8;
}

#ruta {
    padding: 5px 20px;
    margin-left: 100px;
    font-weight: 600;
    border: none;
}

.img-mapa {  
    width: 100%;
    height: 350px;
    padding: 10px;
}

.recuadro-mapa {
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
}

.costos {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 28px;
    padding: 10px;
    margin-left: 110px;
}

/* Footer */

footer {
    background-color: #2b2b2b;
    padding: 50px 10px;
}

.redes-sociales {
    margin-top: 220px;
}

.redes-sociales i {
    color: white;
    padding: 0 5px;
}

.otros-links li {
    list-style:none;
    padding-bottom: 10px;   
}

.otros-links li a {
    color: #BFBFBF;
    font-weight: 100;
}

.otros-links li a:hover {
    color: #f7b617;
    text-decoration: none;
}

.logos {
    margin-top: 120px;
}

.logos img {
    width: 60%;
    padding-bottom: 10px;
}

.footer-2 {
    color: white;
}

.redes-sociales-2 i {
    color: white;
    padding: 0 3px;
}

/* Section Registro Responsive */

.conductor-taxi {
    margin-right: 0;
}

.cuadro-2 {
    margin-top: -76px;
    background-color: #f7b617;
    height: 230px;
    color: white;
    padding: 65px 40px 50px 50px;
}

.cuadro-2 h1 {
    padding-bottom: 10px;
    margin-top: -30px;
}

.cuadro-2 img {
    padding-bottom: 20px;
}
