* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}


/* HEADER */

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 0;
    padding: 5px 0  0 10px;   
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
    border: none;
	margin-top: 16px;
}

.navbar-brand {
    padding: 13px 0;
    font-size: 18px;
}

.navbar-header {
	width: 100px;
	height: 25px;
}

.logo {
	position: relative;
    left: 130px;
    bottom: 35px;
}

.logo img {
	width: 100px;
	height: 25px;
}

.nav>li>a {
    padding: 10px 25px;
    font-size: 14px;
}

.navbar-right {
    padding-right: 30px;
    padding-top: 10px;
}

/* Section Registro */

.registro {
    background-image: url(../img/taxi.jpg);
    height: 180vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: -1245px;    
    padding: 90px 0;
}

.cuadro-1 {
    background-color: #f7b617;
    height: 350px;
    color: white;
    padding: 40px 20px 50px 40px;
}

.cuadro-1 h1 {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 20px;
}

.cuadro-1 p {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 10px;
    font-weight: 200;
}

.cuadro-1 p img {
    width: 90px;
    margin: 15px;
}

.cuadro-1 h4 {
    font-size: 15px;    
}

.input-registro {
    display: inline-flex;
    padding-top: 10px;
}
.input-registro p {
    font-size: 16px;
    margin: 0px 15px;
}

.clase-input {
    width: 150px;
    margin: 0 35px;
    height: 30px;
    color: white;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.btn-conducir {
    background-color: white;
    color: #2b2b2b;
}

.btn-conducir:hover {
    background-color: #EBEBEB;
    color: #f7b617;
}